.container {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.card {
  text-align: center;
  /* display: grid;
  grid-template-columns: repeat(2, 1fr); */

  background-image: url(https://images.unsplash.com/photo-1593814681464-eef5af2b0628?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80);
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.8;
  /* padding: 10px; */
  margin: 5px;
  /* max-width: 400px;  */
}

.card__name {
  text-align: center;
  color: #c513ff;
  margin: 0.5em;
}
.card__type {
  color: #fff;
  font-weight: bold;
}
.card__i {
  max-width: 250px;
  box-shadow: 3px 3px 10px black;
  opacity: 0.85;
  border: 0.5em solid #fff;
  object-fit: cover;
  object-position: ;
}
.card__text {
  color: greenyellow;
  font-weight: bold;
}
